
.gelery-color{
    color: #feeae9;
}
.gelery-bg-color{
    background-color: #feeae9;
}


.color {
    background: #feeae9;
    border-radius: 20px;
}


.background-bog-box {background: orchid;}

.shoes-bg{
    background-color: rgb(196, 190, 190);
}


